.custom-modal-size {
  max-width: 100% !important;
  width: 100% !important;
  top: 30px !important;
  background: transparent;
}

@media (min-width: 768px) {
  .custom-modal-size {
    max-width: 680px !important;
    top: 30px !important;
  }
  
  .custom-modal-size ::-webkit-scrollbar {
    width: 0 !important;
  }
}

@media (min-width: 950px) {
  .custom-modal-size {
    max-width: 690px !important;
    top: 30px !important;
  }
  
  .custom-modal-size ::-webkit-scrollbar {
    width: 0 !important;
  }
}

@media (min-width: 992px) {
  .custom-modal-size {
    max-width: 760px !important;
    top: 0px !important;
    
  }
  
  .custom-modal-size ::-webkit-scrollbar {
    width: 0 !important;
  }
}

@media (min-width: 1200px) {
  .custom-modal-size {
    max-width: 915px !important;
    top: 0px !important;
    
  }
  
  .custom-modal-size ::-webkit-scrollbar {
    width: 0 !important;
  }
}

.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: 100%;
}

.header-font {
  font-family: "Courier New", monospace;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.overall-container {
  position: relative;
  min-height: 92vh;
}

/* Home Page Footer */
html, body {
  height: 100%;
  width: 100%;
}

.main-container {
  position: relative;
  min-height: calc(100vh - 100px);
  
}

.footer-home {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

@media (max-width: 991px) {
  body {
    height: 100%;
    margin: 0;
    padding: 0;
}

  .main-container {
    min-height: calc(100vh - 100px);
    padding: 0 0 100px;
    position: relative;
    
  }

  .footer-home {
    margin-top: 100vh;
    height: 100px;
    left: 0;
    position: fixed;
    width: 100%;
  }
}
/*************************/
/* Contact Page Footer */
/*************************/

@media (max-width: 991px) {
  .contact-body {
    height: 100%;
    position: relative;
  }
  
  .contact-container {
    min-height: calc(100vh - 100px); /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
  
   .footer-contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
   }
}

@media (min-width: 1200px) {
  .contact-body {
    height: 100%;
    position: relative;
  }
  
  .contact-container {
    min-height: calc(100vh - 170px); /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
  
   .footer-contact {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 170px;
   }
}

.vertical-center {
  margin-right: 0;
  margin-left: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-position {
  position: relative;
}

.modal-position {
  position: absolute;
}

.btnblue-color {
  border-color: #00BFFF !important;
  background-color:  #00BFFF !important;
  color: white !important;
  
}

/* Shifting Academia Logo Right due to alignment problem */
@media (max-width: 767px) {
  .academ-logo-shift {
    margin-left: 33px;
  }
}
