.custom-modal-size {
  max-width: 820px !important;
  height: 400px !important;
  
  
}

.custom-modal-size ::-webkit-scrollbar {
  width: 0 !important;
}

@media (min-width: 1200px) {
  .custom-modal-size {
    max-width: 900px !important;
    
  }
  
  .custom-modal-size ::-webkit-scrollbar {
    width: 0 !important;
  }
}

.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
  height: 100%;
}

.header-font {
  font-family: "Courier New", monospace;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.overall-container {
  position: relative;
  min-height: 92vh;
}

body {
  height: 100%;
  width: 100%;
}

.main-container {
  position: relative;
  min-height: calc(100vh - 100px);
  
}

.footer-home {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

@media (min-width: 1200px) {
  .contact-body {
    height: 100%;
    position: relative;
  }
  
  .contact-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
   }
  
   .footer-contact {
    position: fixed;
    bottom: 0;
    width: 100%;
   }
}
